# if use local PyPi:
# auction_keeper==1.0.*

# else:
-e git+https://github.com/monolithos/pymaker.git#egg=pymaker
-e git+https://github.com/captain13128/pygasprice-client.git#egg=pygasprice_client
-e git+https://github.com/monolithos/auction-keeper.git#egg=auction_keeper
